---
http_interactions:
- request:
    method: get
    uri: https://secure.future.stage.ariasystems.net/api/Advanced/wsdl/5.14/complete-doc_literal_wrapped.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 06 Mar 2012 18:02:16 GMT
      Etag:
      - ! '"10c6da-7e727-4ba96d7d89a00"'
      Content-Type:
      - application/wsdl+xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:tns=\"urn:client:api:wsdl:document/literal_wrapped:vers:5.14:aria_complete_api\"
        targetNamespace=\"urn:client:api:wsdl:document/literal_wrapped:vers:5.14:aria_complete_api\">\n
        \ <types>\n    <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:tns=\"urn:client:api:wsdl:document/literal_wrapped:vers:5.14:aria_complete_api\"
        targetNamespace=\"urn:client:api:wsdl:document/literal_wrapped:vers:5.14:aria_complete_api\"
        elementFormDefault=\"qualified\">\n      <xsd:complexType name=\"order_line_items_row\">\n
        \       <xsd:sequence>\n          <xsd:element name=\"client_sku\" type=\"xsd:string\"
        minOccurs=\"0\" maxOccurs=\"1\"/>\n          <xsd:element name=\"units\" type=\"xsd:double\"
        minOccurs=\"1\" maxOccurs=\"1\"/>\n          <xsd:element name=\"amount\"
        type=\"xsd:double\" minOccurs=\"0\" maxOccurs=\"1\"/>\n          <xsd:element
        name=\"unit_discount_amount\" type=\"xsd:double\" minOccurs=\"0\" maxOccurs=\"1\"/>\n
        \       </xsd:sequence>\n      </xsd:complexType>\n      <xsd:complexType
        name=\"[...]
