---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=transfer_account_balance&source_account_no=1&target_account_no=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"transaction_id":"","balance_transferred":"","error_code":1006,"error_msg":"source
        account does not exist"}

'
  recorded_at: Thu, 05 Apr 2012 17:31:19 GMT
recorded_with: VCR 2.0.0
