---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_inv_no_from_bal_xfer&transaction_id=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":2001,"invoice_no":null,"acct_no":null,"error_msg":"transaction
        does not exist"}

'
  recorded_at: Thu, 05 Apr 2012 17:10:16 GMT
recorded_with: VCR 2.0.0
