---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_statement_content&acct_no=1&statement_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1009,"statement_content":"","mime_type":null,"error_msg":"account
        does not exist"}

'
  recorded_at: Tue, 27 Mar 2012 20:26:35 GMT
recorded_with: VCR 2.0.0
