---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=create_acct_complete&master_plan_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1023,"acct_no":null,"out_userid":null,"invoicing_error_code":null,"invoicing_error_msg":null,"invoice_no":null,"proc_cvv_response":null,"proc_avs_response":null,"proc_cavv_response":null,"proc_status_code":null,"proc_status_text":null,"proc_payment_id":null,"proc_auth_code":null,"proc_merch_comments":null,"out_new_acct_plan_contracts":null,"error_msg":"account
        userid not allowed"}

'
  recorded_at: Thu, 05 Apr 2012 17:07:20 GMT
recorded_with: VCR 2.0.0
